<h4>FlickrPhoto's photos#index</h4>
<div class="flickr">
 <ul>
    <% @photos.each do |row| -%>
      <li>
        <% row.each do |p| %>
          <%= link_to(image_tag(p), :class => 'flickr_photo', :title => "flick", :border => 0, :size => '75x75') %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
